.Rproj.user
cache
inputs
outputs
.Rhistory
.Rdata
.RData
.secret
.secrets
.Rprofile
.Restart*
.httr-oauth
.DS_Store
.quarto

'~/Library/CloudStorage/GoogleDrive-jwturner\@ualberta.ca/Shared drives/JWTscratch/reproducibleInputs'/
